
<div class="container">
	<h2><a ui-sref="main" class="nav-link">Main</a></h2>
	<h2>The Mean Manager</h2>
	<form ng-submit="createTask()">
		<input class="form-control wtds__create-input" placeholder="what do i need to do?" ng-model="createTaskInput"/>
		<button class="btn btn-success wtds__create-button">Create Task</button>
	</form>

	<span style="float: left; padding: 20px; margin-left: 3%;"> Crammer <input style="float: left" type="checkbox" ng-click="onCrammerClick()" checked/></span>
	<span style="float: left; padding: 20px; margin-left: 3%;"> Viznet <input style="float: left" type="checkbox" ng-click="onViznetClick()" checked/></span>
	<span style="float: left; padding: 20px; margin-left: 3%;"> M6 <input style="float: left" type="checkbox" ng-click="onM6Click()" checked/></span>
	
	<!--span style="float: left; padding: 20px"><button style="float: left" type="checkbox"> Generate Report</button></span-->
	
	<span style="position : fixed; margin-top: -10px">Count {{filtered.length}} <button style="float: left" id="someButton">Export</button></span>
	

	<div id="printTable">
	<table class="table table-striped">
		<tr>
			<th>Completed?</th>
			<th ng-show="isCrammerChecked"><form class="form-inline"><input class="form-control" placeholder="Tiger ID" ng-model="search.tiger_id">Tiger ID</input></form></th>
			<th ng-show="isViznetChecked || isM6Checked"><form class="form-inline"><input class="form-control" placeholder="Viznet/M6 ID" ng-model="search.viznetm6id">Viznet/M6 ID</input></form></th>
			<th><form class="form-inline"><input class="form-control" placeholder="GAM ID" ng-model="search.gam_id">GAM ID</input></form></th>
			<th><form class="form-inline"><input class="form-control" placeholder="MRC(Converted)" ng-model="search.mrc_converted">MRC(converted)</input></form></th>
			
			<th><form class="form-inline"><input class="form-control" placeholder="NRC(Converted)" ng-model="search.nrc_converted">NRC(converted)</input></form></th>
			
			
			<th><form class="form-inline"><input class="form-control" placeholder="Sales Region" ng-model="search.sales_region">Sales Region</input></form></th>
			<th><form class="form-inline"><input class="form-control" placeholder="Customer Name" ng-model="search.customer_name">Customer Name</input></form></th>

			<th><form class="form-inline"><input class="form-control" placeholder="Program Manager" ng-model="search.program_manager">Program Manager</input></form></th>

			<th><form class="form-inline"><input class="form-control" placeholder="PM First Level Escalation" ng-model="search.pm_first_level_escalation">PM First Level Escalation</input></form></th>

			<th><form class="form-inline"><input class="form-control" placeholder="VSD Mapping" ng-model="search.vsd_mapping">VSD Mapping</input></form></th>


			
			<th ng-show="isCrammerChecked"><form class="form-inline"><input class="form-control" placeholder="Provisioner Name" ng-model="search.provisioner_name">Provisioner Name</input></form></th>    
			
			<th>
				<!--form class="form-inline"><input class="form-control" placeholder="CIRCUIT_ISSUE_DATE" ng-model="timeRange.CIRCUIT_ISSUE_DATE"></input></form-->
				<div class="input-group date" data-provide="datepicker">
					<input type="text" class="form-control" id="startDate" ng-model="startDate">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-th"></span>
					</div>
				</div>
				<div class="input-group date" data-provide="datepicker">
					<input type="text" class="form-control" id="endDate" ng-model="endDate">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-th"></span>
					</div>
				</div>
				Inbasket Date
			</th>

			<th><form class="form-inline"><input class="form-control" placeholder="WTD Owner Name" ng-model="search.wtd_owner_name">WTD Owner Name</input></form></th>
			<th><form class="form-inline"><input class="form-control" placeholder="Service Type" ng-model="search.service_type">Service Type</input></form></th>
			<th><form class="form-inline"><input class="form-control" placeholder="E2E Testing Date" ng-model="search.e2e_testing_date">E2E Testing Date</input></form></th>
			<th><form class="form-inline"><input class="form-control" placeholder="Turn Up Date" ng-model="search.turn_up_date">Turn Up Date</input></form></th>
			<th><form class="form-inline"><input class="form-control" placeholder="Activation Date" ng-model="search.activation_date">Activation Date</input></form></th>
			<th><form class="form-inline"><input class="form-control" placeholder="Activity Progress Log" ng-model="search.activity_progress_log">Activity Progress Log</input></form></th>


			<th><form class="form-inline"><input class="form-control" placeholder="Current Dependency" ng-model="search.current_dependency">Current Dependency</input></form></th>
			<th><form class="form-inline"><input class="form-control" placeholder="Program Manager Input" ng-model="search.program_manager_input">Program Manager Input</input></form></th>
			<th><form class="form-inline"><input class="form-control" placeholder="Evolve Status" ng-model="search.evolve_status">Evolve Status</input></form></th>
			<th><form class="form-inline"><input class="form-control" placeholder="tiger_status" ng-model="search.tiger_status">Tiger Status</input></form></th>
			<th><form class="form-inline"><input class="form-control" placeholder="viznetm6status" ng-model="search.viznetm6status">Viznet / M6 Status</input></form></th>


			<th><form class="form-inline"><input class="form-control" placeholder="TAT(in days)" ng-model="search.TAT" >TAT(in days)</input></form></th>
			<th><form class="form-inline"><input class="form-control" placeholder="TAT Status" ng-model="search.TAT_status">TAT Status</input></form></th>
			<th><form class="form-inline"><input class="form-control" placeholder="Program Manager TAT" ng-model="search.pm_TAT">Program Manager TAT</input></form></th>

			<th><form class="form-inline"><input class="form-control" placeholder="Team Status" ng-model="search.team_status">Team Status</input></form></th>



			<!--th><form class="form-inline"><input class="form-control" placeholder="Pending With" ng-model="search.pending_with"></input></form></th-->
			<th>Actions</th>
		</tr>
		

		<tr ng-repeat='wtd in filtered = (wtds | filter: search | wtdFilter:startDate:endDate)'>
			<td><input type="checkbox" ng-checked="wtd.isCompleted" ng-click="onCompletedClick(wtd)"/></td>
			
			<td ng-show="isCrammerChecked" ng-init="onGenReport(wtd)">
				<span ng-if="!wtd.isEditing"
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.tiger_id}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<input ng-if="wtd.isEditing" class="form-control wtds__update-input" ng-value="wtd.tiger_id" ng-model="wtd.updatedTask1">
				</form>
			</td>

			<td ng-show="isViznetChecked || isM6Checked">
				<span ng-if="!wtd.isEditing"
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.viznetm6id}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<input ng-if="wtd.isEditing" class="form-control wtds__update-input" ng-value="wtd.viznetm6id" ng-model="wtd.updatedTask2">
				</form>
			</td>

			<td>
				<span ng-if="!wtd.isEditing"
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.gam_id}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<input ng-if="wtd.isEditing" class="form-control wtds__update-input" ng-value="wtd.gam_id" ng-model="wtd.updatedTask3">
				</form>
			</td>			
			
			<td>
				<span ng-if="!wtd.isEditing"
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.mrc_converted}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<input ng-if="wtd.isEditing" class="form-control wtds__update-input" ng-value="wtd.mrc_converted" ng-model="wtd.updatedTask4">
				</form>
			</td>
			
			<td>
				<span ng-if="!wtd.isEditing"
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.nrc_converted}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<input ng-if="wtd.isEditing" class="form-control wtds__update-input" ng-value="wtd.nrc_converted" ng-model="wtd.updatedTask5">
				</form>
			</td>
			
			<td>
				<span class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.evolve_status}}
				</span>
			</td>

			<td>
				<span ng-if="!wtd.isEditing" 
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.sales_region}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<select ng-if="wtd.isEditing" class="form-control wtds_update-input" ng-value="wtd.sales_region" ng-model="wtd.updatedTask6">
						<option>Asia</option>
						<option>Europe</option>
						<option>USA</option>
						<option>ROW</option>
						<option>Canada</option>
					</select> 	
				</form>
			</td>




			<td>
				<span ng-if="!wtd.isEditing"
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.customer_name}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<input ng-if="wtd.isEditing" class="form-control wtds__update-input" ng-value="wtd.customer_name" ng-model="wtd.updatedTask7">
				</form>
			</td>

			<td>
				<span ng-if="!wtd.isEditing"
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.program_manager}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<select ng-if="wtd.isEditing" class="form-control wtds_update-input" ng-value="wtd.program_manager" ng-model="wtd.updatedTask8">
						<option>Abhijeet Murudkar</option>
						<option>Abhishek Raj</option>
						<option>Abhishek Sharma(Service Delivery)</option>
						<option>Adinath Bankar</option>
						<option>Ajay Bhore</option>
						<option>Akash Shinde</option>
						<option>Akshay Kavathekar</option>
						<option>Akshay Masarkar</option>
						<option>Ameya Vaidya</option>
						<option>Ami Bhuva</option>
						<option>Amit Ambre</option>
						<option>Amit Ghosh</option>
						<option>Amit Ghosh(PM)</option>
						<option>Amit Mane</option>
						<option>Amit Shardule</option>
						<option>Amit Verma</option>
						<option>Amod Sane</option>
						<option>Amol Bhoite</option>
						<option>Amol Dhage</option>
						<option>Anil Kumar Kn</option>
						<option>Anirban Chakraborthy</option>
						<option>Ankur Goyal</option>
						<option>Anshul Gupta2</option>
						<option>Anu Arora</option>
						<option>Anuj Gupta</option>
						<option>Anurag Nirmal</option>
						<option>Anurag Singh</option>
						<option>Apurva Sahane</option>
						<option>Arora Ajay</option>
						<option>Ayyapillai P</option>
						<option>Balakrishnan Yadhavar</option>
						<option>Bhushan Gaikwad</option>
						<option>Bijoy Thomas</option>
						<option>Blanca Ortanez</option>
						<option>Brad Allen</option>
						<option>Calla Teo</option>
						<option>Chandrashekhar Tiwari</option>
						<option>Chetan sharma</option>
						<option>Christopher Limon</option>
						<option>Daneshvar D</option>
						<option>Dattaprasad Khanolkar</option>
						<option>Debajyoti Das2</option>
						<option>Deepak Bhatt</option>
						<option>Deepak Shukla</option>
						<option>Devanand Maroti Honrao</option>
						<option>Dipak Kumar</option>
						<option>Enrique Sellem</option>
						<option>Florian Bonvissuto</option>
						<option>Gajraj Thind</option>
						<option>Hanuman Regar</option>
						<option>Haresh Jarkani</option>
						<option>Hari Sharma</option>
						<option>Harry Cheema</option>
						<option>Harshal Shinde2</option>
						<option>Hemant Samant</option>
						<option>Hitendra Mathur</option>
						<option>Indrajeet Ghosh</option>
						<option>Jaykesh Sevak</option>
						<option>Jeevan Nair</option>
						<option>Jinal Shah</option>
						<option>Jitin Pagdhare</option>
						<option>Jyoti Rawat</option>
						<option>K Rajesh</option>
						<option>Kairav Mody</option>
						<option>Kalaivani Swamynathan</option>
						<option>Kamil Benadjaoud</option>
						<option>Karan Singh</option>
						<option>Kathiravan Pandian</option>
						<option>Kavin Domadia</option>
						<option>Krishna Murthy Bandaru</option>
						<option>Kumar Vinay</option>
						<option>Kunal Rao</option>
						<option>Lokesh Sukumar</option>
						<option>Majumdar Anirban</option>
						<option>Manikandan Unnikrishnan</option>
						<option>Manish Mishra(ASD)</option>
						<option>Manoj Bhagwat</option>
						<option>Manoj Mishra2</option>
						<option>Manoranjan Tiwari</option>
						<option>Marco Dosch</option>
						<option>Maulik Vyas</option>
						<option>Maxim Schneider</option>
						<option>Mayur Babar</option>
						<option>Mayuresh Wagle</option>
						<option>Meenakshi Chaudhary</option>
						<option>Mohammed Ashfaq</option>
						<option>Monish Patel</option>
						<option>Mukesh Babu K</option>
						<option>Mukesh Yadav</option>
						<option>Nandi DB</option>
						<option>Naresh Sonawane</option>
						<option>Nayan Kolte</option>
						<option>Neha Saini</option>
						<option>Neha Thakur</option>
						<option>Nikhil Chavan</option>
						<option>Nikhil Warang</option>
						<option>Nikunj Gala</option>
						<option>Nilesh Indulkar</option>
						<option>Nilesh M Patil</option>
						<option>Nilesh Naik2</option>
						<option>Nilesh Vishe</option>
						<option>Olivier Goncalves</option>
						<option>Pankaj Kumbhar</option>
						<option>Paresh Kumthekar</option>
						<option>Paul Bennett</option>
						<option>Ponnalugu S</option>
						<option>Poonam Jagtap</option>
						<option>Prasenjit Podder</option>
						<option>Prashant Pai</option>
						<option>Prashant Sonawane</option>
						<option>Prashant Srivastava</option>
						<option>Prateek Tiwari</option>
						<option>Praveen Tiwari</option>
						<option>Priyal Dabre</option>
						<option>Raghavendra Ramdurgkar</option>
						<option>Rahuk R Pai</option>
						<option>Rajeev Sharma</option>
						<option>Rajendra Bhikule</option>
						<option>Rajib Debnath</option>
						<option>Rakesh Salve</option>
						<option>Ram Ganga</option>
						<option>Ramamurthy V</option>
						<option>ramesh.maguluri</option>
						<option>Ravindra Kale</option>
						<option>Revatee Bande</option>
						<option>Robert Mathias</option>
						<option>Rohan Barmukh2</option>
						<option>Rohan Goyal</option>
						<option>Roshani Garole</option>
						<option>Ruchi Singh</option>
						<option>Saaj Miah</option>
						<option>sabana Bee</option>
						<option>Sachin Chavan2</option>
						<option>Sachin Shingte</option>
						<option>Sameer Chitnis</option>
						<option>Sameer Chigwan</option>
						<option>Samir Sanas</option>
						<option>Sanckar Pathmanathan</option>
						<option>Sandeep Barpute</option>
						<option>Sandeep Dange</option>
						<option>Sandeep Deshmukh</option>
						<option>Sandesh Mankar</option>
						<option>Sanjay Akre</option>
						<option>Sankalp Shah</option>
						<option>Santiago Epstein</option>
						<option>Santosh Adagale</option>
						<option>satish Gaikwad</option>
						<option>Seema Varma</option>
						<option>Senthil Kumar M(MSK)</option>
						<option>Shaikh Mushtaqeem</option>
						<option>Shailendra Baghel</option>
						<option>Shankar S Shukla</option>
						<option>Shantanu Mukherjee2</option>
						<option>Shaoxiong Zheng</option>
						<option>Shipra Sharma</option>
						<option>Shobha Thorat</option>
						<option>Sibo Panda</option>
						<option>Sijo Mathew</option>
						<option>Smita Choudhary</option>
						<option>Smita Phadtare</option>
						<option>Snehal Desai</option>
						<option>Sonali Dohale</option>
						<option>Sridhar B(PM)</option>
						<option>Stepehen Lim</option>
						<option>Subir Banerjee</option>
						<option>Sumit Jejurikar</option>
						<option>Suraj Shekhar</option>
						<option>Suresh Nasina</option>
						<option>Sushant D Jangam</option>
						<option>Sushil Kale</option>
						<option>Suvarna Shirke</option>
						<option>Tatiana Zabarsky</option>
						<option>Tito Mukherjee</option>
						<option>Tony Dormio</option>
						<option>Umamahesh K</option>
						<option>Umamahesh Venkatesh</option>
						<option>Umed Kaule</option>
						<option>Varun Mehta</option>
						<option>Varun Singhal</option>
						<option>Viajayapradheep Kuppuswamy</option>
						<option>Vikas Lotankar</option>
						<option>Viki Gandhi</option>
						<option>Vikram Vandhu</option>
						<option>Vikrant Mahatre</option>
						<option>Vinay Nagavelly</option>
						<option>Vinaya Jadhav2</option>
						<option>Virendra Kumar</option>
						<option>Vishal Advani</option>
						<option>VK Rai</option>
						<option>Vrunda Ghole</option>
						<option>Yogesh Awasthi</option>
						<option>Askshay Agnihotri</option>
						<option>Chintan Patel</option>
						<option>Dhyey Kothari</option>
						<option>Amit Singh (SPOT)</option>
					</select>
				</form>
			</td>
			
			<td>
				<span class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.pm_first_level_escalation}}
				</span>
			</td>

			<td>
				<span class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.vsd_mapping}}
				</span>
			</td>

			<td>
				<span ng-if="!wtd.isEditing"
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.provisioner_name}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<input ng-if="wtd.isEditing" class="form-control wtds__update-input" ng-value="wtd.provisioner_name" ng-model="wtd.updatedTask9">
				</form>
			</td>

			<td>
				<span ng-if="!wtd.isEditing" class="wtds__task" ng-model="date"
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.inbasket_date}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<div class="input-group date" ng-if="wtd.isEditing" data-provide="datepicker">
						<input type="text" class="form-control wtds_update-input" ng-value="wtd.e2e_testing_date" ng-model="wtd.updatedTask10">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"></span>
						</div>
					</div>
				</form>
			</td>

			<td>
				<span ng-if="!wtd.isEditing"
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.wtd_owner_name}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<select ng-if="wtd.isEditing" class="form-control wtds_update-input" ng-value="wtd.wtd_owner_name" ng-model="wtd.updatedTask11">
						<option>Uday</option>
						<option>Saurabh</option>
						<option>Raj</option>
						<option>Kunal</option>
						<option>Ram</option>
							<option>Amir</option>
						<option>Shruti</option>
						<option>Shrikant</option>
					
					</select> 
				</form>
			</td>

			<td ng-show="isCrammerChecked">
				<span ng-if="!wtd.isEditing"
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.service_type}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<select ng-if="wtd.isEditing" class="form-control wtds_update-input" ng-value="wtd.service_type" ng-model="wtd.updatedTask12">
						<option>DGE</option>
						<option>IPLC</option>
						<option>EMPT</option>
						<option>EAS</option>
						<option>VNO</option>
						<option>GVPN</option>
						<option>GVPN-L3NNI</option>
						<option>DIA</option>
						<option>INET</option>
						<option>VIDEO</option>
						<option>ENTVTS</option>
						<option>IZO</option>
						<option>SIP</option>
					</select> 
				</form>
			</td>

			<td>
				<span ng-if="!wtd.isEditing" class="wtds__task" ng-model="date"
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.e2e_testing_date}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<div class="input-group date" ng-if="wtd.isEditing" data-provide="datepicker">
						<input type="text" class="form-control wtds_update-input" ng-value="wtd.e2e_testing_date" ng-model="wtd.updatedTask13">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"></span>
						</div>
					</div>
				</form>
			</td>

			<td>
				<span ng-if="!wtd.isEditing" class="wtds__task" ng-model="date"
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.turn_up_date}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<div class="input-group date" ng-if="wtd.isEditing" data-provide="datepicker">
						<input type="text" class="form-control wtds_update-input" ng-value="wtd.turn_up_date" ng-model="wtd.updatedTask14">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"></span>
						</div>
					</div>
				</form>
			</td>

			<td>
				<span ng-if="!wtd.isEditing" class="wtds__task" ng-model="date"
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.activation_date}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<div class="input-group date" ng-if="wtd.isEditing" data-provide="datepicker">
						<input type="text" class="form-control wtds_update-input" ng-value="wtd.activation_date" ng-model="wtd.updatedTask15">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"></span>
						</div>
					</div>
				</form>
			</td>

			<td>
				<span ng-if="!wtd.isEditing"
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.activity_progress_log}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<input ng-if="wtd.isEditing" class="form-control wtds__update-input" ng-value="wtd.activity_progress_log" ng-model="wtd.updatedTask16">
				</form>
			</td>

			<td>
				<span ng-if="!wtd.isEditing" 
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.current_dependency}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<select ng-if="wtd.isEditing" class="form-control wtds_update-input" ng-value="wtd.current_dependency" ng-model="wtd.updatedTask17">
						<option>PM-RFT</option>
						<option>PM-CACP</option>
						<option>Billing Closure</option>
						<option>WTD/SDCNOC</option>
						<option>FO</option>
						<option>IPP</option>
						<option>GAM-HO pending</option>
						<option>GAM-Deffered Delivery</option>
						<option>BOP-Order Not Issued</option>
						<option>BOP-Wrongly Issued without LM RTC</option>
						<option>Commissioned</option>
						<option>GVPN-L3NNI</option>
						<option>EAS</option>
						<option>Provisioner</option>
						<option>SA-Migration Order</option>
						<option>Eliminated</option>
					</select> 	
				</form>
			</td>

			<td>
				<span ng-if="!wtd.isEditing"
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.program_manager_input}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<input ng-if="wtd.isEditing" class="form-control wtds__update-input" ng-value="wtd.program_manager_input" ng-model="wtd.updatedTask18">
				</form>
			</td>
			<td>
				<span ng-if="!wtd.isEditing"
					class="wtds__task"
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.tiger_status}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<select ng-if="wtd.isEditing" class="form-control wtds_update-input" ng-value="wtd.tiger_status" ng-model="wtd.updatedTask19">
						<option>Issued</option>
						<option>Completed</option>
						<option>NA</option>
						<option>Not Issued</option>

					</select>
				</form>
			</td>
			<td>
				<span ng-if="!wtd.isEditing"
					class="wtds__task"
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.viznetm6status}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<select ng-if="wtd.isEditing" class="form-control wtds_update-input" ng-value="wtd.viznetm6status" ng-model="wtd.updatedTask20">
						<option>Issued</option>
						<option>Completed</option>
						<option>NA</option>
						<option>Not Issued</option>
						
					</select>
				</form>
			</td>	
			


			
			<td>
				<span ng-if="(toTimeStamp(wtd.inbasket_date) !== undefined)||(toTimeStamp(wtd.e2e_testing_date) !== undefined)"
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.TAT}}
				</span>
			</td>
			<td>
				<span 
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.TAT_status}}
				</span>
			</td>

			<td>
				<span 
					class="wtds__task" 
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.pm_TAT}}
				</span>
			</td>

			<td>
				<span ng-if="!wtd.isEditing"
					class="wtds__task"
					ng-class="{'wtds__task--completed':wtd.isCompleted}">
					{{wtd.team_status}}
				</span>
				<form ng-submit="updateTask(wtd)">
					<select ng-if="wtd.isEditing" class="form-control wtds_update-input" ng-value="wtd.team_status" ng-model="wtd.updatedTask21">
						<option>Pending</option>
						<option>Completed</option>
						
					</select>
				</form>
			</td>



			<td>
				<button ng-if="!wtd.isEditing" class="btn btn-info" ng-click="onEditClick(wtd)">Edit</button>
				<button ng-if="!wtd.isEditing" class="btn btn-danger" ng-click="deleteTask(wtd)">Delete</button>

				<button ng-if="wtd.isEditing" class="btn btn-primary" ng-click="updateTask(wtd)">Save</button>
				<button ng-if="wtd.isEditing" class="btn btn-default" ng-click="onCancelClick(wtd)">Cancel</button>
			</td>

		</tr>
	</table>
	</div>


</div>
<script type="text/javascript">
   	//$('#someButtton').on('click', function(){ CSV.begin("#printTable").download("HelloWorld.csv").go(); });
   	$( "#someButton" ).click(function() {
  		CSV.begin("#printTable").download("dbExport.csv").go();
	});


</script>
